*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.search-box-body{
    border: 2px solid white;
    box-shadow: 0 0 0 1px  rgba(0, 0, 0, 0.2); 
    border-radius:4px; 

    height:38px; 
    width: 280px;

    justify-content: flex-start;
    align-items: center;

}

.search-field{
    border: 2px solid white;
    outline-color: white;
    color: rgb(189, 188, 188);
    margin-left: 5px;
}

.search-icon{
    margin-left: 5px;
    margin-right: 5px;
    font-size: x-large;
}

.font-size{
    font-size: 1rem;
}